<!DOCTYPE html>
<html>
  <head>
    <title>Tomato Foods</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/forms.css'/>
  </head>
  <body>
    <h1>Tomato Foods</h1>
    <p>Welcome to the world of food!</p>
     
    <form id = "login-form" class="product-form" action="api/login-customer" method="POST">
        <div class="form-control">
            <label for="email">username/email</label>
            <input type="email" name="email" id="email" required >
        </div>
        <div class="form-control">
            <label for="passwd">password</label>
            <input type="password" name="passwd" id="passwd" required>
        </div>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="button">Login as</button>
        <br>
      </form>
      <a href="/register"> New User?
       </a>
      
  </body>
</html>
