<!DOCTYPE html>
<html>
  <head>
    <title>Tomato Foods</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href='/css/forms.css'/>
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <h1>Tomato Foods</h1>
    <p>Welcome to the world of food!</p>
     
    <form id = "login-form" class="product-form" action="api/login-customer" method="POST">
        <div class="form-control">
            <label for="email">email</label>
            <input type="email" name="email" id="email" required >
        </div>
        <div class="form-control">
            <label for="passwd">password</label>
            <input type="password" name="passwd" id="passwd" required>
        </div>
            <label for="user_type">Login as</label> <br>Customer 
            <input type ="radio" name="user_type" value=1>Delivery Person
            <input type ="radio" name="user_type" value=2>Restaurant Manager
            <input type ="radio" name="user_type" value=3><br>
        <button class="btn" type="submit">Submit</button>
        <br>
      </form>
      <a href="/register"> New User?
       </a>
      
  </body>
</html>
