<!DOCTYPE html>
<html>
  <head>
    <title>Tomato Foods</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href='/css/forms.css'/>
  </head>
  <body>
    <h1>Tomato Foods</h1>
    <p>Welcome to the world of food!</p>
    <h>New User? Register here </h>
    <form id = "register-form" class="product-form" action="api/register-customer" method="POST">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required >
    </div>
      <div class="form-control">
          <label for="email">email</label>
          <input type="email" name="email" id="email" required >
      </div>
      <div class="form-control">
          <label for="passwd">password</label>
          <input type="password" name="passwd" id="passwd"  required >
      </div>
      <div class="form-control">
        <label for="re-passwd">confirm password</label>
        <input type="password" name="re-passwd" id="re-passwd" required >
      </div>
      <div class="form-control">
        <label for="phone">phone</label>
        <input type="phone" name="phone" id="phone" >
      </div>
      <label for="user_type">Register as</label> <br>Customer 
            <input type ="radio" name="user_type" value=1>Delivery Person
            <input type ="radio" name="user_type" value=2>Restaurant Manager
            <input type ="radio" name="user_type" value=3><br>
        
      <button class="btn" type="submit">Register</button>
  </form>
  </body>
</html>